@model SistemaEstoque.Models.Produto

@{
    ViewBag.Title = "Delete";
}

<h1>Excluir Produto</h1>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadeMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadeMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar aos Produtos", "Index")
        </div>
    }
</div>
