@model SistemaEstoque.ViewModel.ProdutoEstoque

@{
    ViewBag.Title = "Registrar Entrada no Estoque";
}

<h1>@ViewBag.Title</h1>


@using (Html.BeginForm("EntradaEstoque", "Estoque", FormMethod.Post)) { 

    @Html.AntiForgeryToken()

<div class="recebeDados"></div>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="btnProduto_Codigo">
            <input value="Pesquisar" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProdutosDescricao", (MultiSelectList)ViewBag.Categorias, new { @class = "form-control" })
            @*@Html.DropDownListFor(model => model.Produto.Descricao, new SelectList(Model.Produto.Descricao, "id", "descricao"), new { @class = "form-control" })*@
            @*@Html.DropDownList("ProdutosDescricao", null, htmlAttributes: new { @class = "form-control" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Referencia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnidadeMedida, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnidadeMedida, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @*@Html.ValidationMessageFor(model => model.UnidadeMedida, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.dataEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataEntrada, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.DataCompra, "", new { @class = "text-danger" })*@
        </div>
    </div>

    @Html.EditorFor(model => model.FK_Produto, new { htmlAttributes = new { @class = "form-control", type="hidden" } })
    @Html.EditorFor(model => model.IdProduto, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })
    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", type = "hidden" } })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cadastrar" class="btn btn-success" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("Voltar ao Estoque", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            // Acao Seletor
            $("#ProdutosDescricao").change(function () {
                var idDescricao = $("#ProdutosDescricao option:selected").val();
                var textDescricao = $("#ProdutosDescricao option:selected").text();
                
                $.ajax({
                    url: '/api/Estoque/ObterProdutoSeletor/' + idDescricao,
                    type: 'GET',
                    data: idDescricao,
                    success: function (data) {
                        $("#Codigo").val(data.Codigo);
                        $("#Referencia").val(data.Referencia); 
                        $("#UnidadeMedida").val(data.UnidadeMedida); 
                        $("#Valor").val(data.Valor); 
                        $("#FK_idProduto").val(idDescricao); 
                        $("#IdProduto").val(idDescricao); 
                        $("#Descricao").val(textDescricao);                   
                    }
                });
               
            });

            // Botão Codigo
            $("#btnProduto_Codigo").click(function () {
                var codigo = $("#Produto_Codigo").val();

                $.ajax({
                    url: '/api/Estoque/ObterProdutoCodigo/' + codigo,
                    type: 'GET',
                    data: codigo,
                    success: function (data) {
                        $("#Produto_Referencia").val(data.Referencia);
                        $("#Produto_UnidadeMedida").val(data.UnidadeMedida);
                        $("#Produto_Valor").val(data.Valor);
                    }
                });
            });

        });




    @*outro tipo de metodo
       $("#ProdutosDescricao").on("change", function () {
       console.log("change happens");
   });*@

    </script>
}

